.Favorites__no-items {
	font-size: 2rem;
	text-transform: capitalize;
	font-style: italic;
	font-weight: 800;
}

.Page__content-container {
	display: grid;
	width: 60%;
	margin: 0 auto;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
	grid-template-rows: repeat(1, minmax(45rem, min-content));
	grid-auto-rows: minmax(32rem, 1fr);
	gap: 4rem 2rem;
}
