.Favorites__no-items {
	font-size: 2rem;
	text-transform: capitalize;
	font-style: italic;
	font-weight: 800;
}

.Page__content-container {
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	grid-template-rows: min-content;
	grid-auto-rows: min-content;
	gap: 2rem 1rem;
}
