.filters{
    background: #fff;
    text-align: center;
    display: inline-block;
    border-radius: .5rem;
}


.select{
    width: 21rem;
    height: 4rem;
    font-family: inherit;
    font-size: 1.4rem;
    border: none;
    border-radius: .5rem;
}


.filters .select:not(:last-child){
    margin-right: 1.8rem;

}