.filters {
	background: #fff;
	text-align: center;
	display: flex;
	border-radius: 0.5rem;
	/* height: 4rem; */
	font-family: 'Raleway', sans-serif;
	font-size: 1.4rem;

	display: grid;
	min-width: 27.5rem;
	grid-template-rows: 4rem;
	grid-auto-rows: 4rem;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.drop-downs-container {
	flex: 2;
	height: 100%;
}

.categories__drop-downs {
	height: 100%;
	width: 49%;
}

.drop-down {
	/* margin-left: 1rem; */
	flex: 1;
	height: 100%;
}

.filters .select:not(:last-child) {
	margin-right: 1.8rem;
}

@media only screen and (max-width: 375px) {
	.filters {
		grid-template-rows: 8rem;
	}
	.categories__drop-downs {
		height: 49%;
		width: 100%;
	}
}
