.filters {
	background: #fff;
	text-align: center;
	display: flex;
	border-radius: 0.5rem;
	height: 4rem;
	font-family: 'Raleway', sans-serif;
	font-size: 1.4rem;
}

.drop-downs-container {
	flex: 2;
	height: 100%;
}

.drop-down {
	margin-left: 1rem;
	flex: 1;
	height: 100%;
}

.filters .select:not(:last-child) {
	margin-right: 1.8rem;
}
