.nav_item{
    margin: 0 2rem;
    padding: 2rem .7rem;
    display: flex;
    align-items: center;
}

.nav_item:hover > ul{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.nav_item a{
    text-decoration: none;
    font-weight: 700;
    color:#4e002d;
}

.nav_item ul:before{ 
    content: '';
    width: 1rem;
    height: 1rem;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    background-color: #fff;
    position: absolute;
    top: -6%;
    left: 2rem;
    transform: rotate(45deg);
}
.nav_item ul{
    visibility: hidden;
    opacity: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    top: 100%;
    transform: translateY(20px);
    transition: all .4s ease;
}


.nav_item ul li{ 
    padding: 1rem 2rem;
}
