.button{
    /* color: #4e002d;
    background-color: #fff;
    padding: 1rem 2rem;
    margin: 0 1.5rem;
    border-radius: .5rem;
    font-weight: 700;
    transition: all .5s ease;
    cursor: pointer; */
}

.button.active, .button:hover {
    /* color: #fff;
    background-color:#ff0061; */
}

.button.active:hover{
    /* color: #4e002d;
    background-color: #fff; */
}