.add-item,
.form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.add-item {
	padding: 8rem 0;
}

.drop-downs-container {
	height: 3rem;
}

.form {
	width: 41.6rem;
}

.form > * {
	width: 100%;
	margin-bottom: 4rem;
	font-family: inherit;
	font-size: inherit;
}
.form__input {
	padding: 1rem 2rem;
	outline: none;
	font-weight: inherit;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.35);
}

.form__error-message {
	height: 1.5rem;
	color: red;
	margin-bottom: 3rem;
	margin-top: -4rem;
	font-size: 1.3rem;
	font-family: inherit;
	text-align: center;
	text-transform: capitalize;
}

.form__text-area {
	height: 9rem;
	line-height: 1.9rem;
	padding: 1rem 2rem;
	outline: none;
	border: none;
	resize: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.35);
}

.form__select {
	height: 3rem;
	font-size: 1.4rem;
}

.form__image-uploads {
	display: flex;
	justify-content: space-between;
	height: 15rem;
}

.form__submit-button--disabled {
	cursor: not-allowed !important;
	opacity: 0.3;
}
