.my-items__card:not(:last-child) {
	margin-bottom: 3.5rem;
}

.my-items__no-items {
	font-size: 2rem;
	text-transform: capitalize;
	font-style: italic;
	font-weight: 800;
}

.Page__content-container {
	display: flex;
	flex-direction: column;
	align-self: stretch;
}

@media only screen and (max-width: 550px) {
	.Page__content-container {
		min-width: 30rem;
		width: 65%;
	}
}
