.grid{
    display: grid;
    grid-template-rows: 6rem minmax(calc(100vh - 16rem),1fr) 10rem;
    grid-template-areas: "toolbar"
                          "main"
                          "footer";

}

.grid_footer{
    grid-area: footer;
    background: linear-gradient(to left, rgba(124,3,78,1) 0% ,rgba(29,15,42,1) 100%);
}