.grid{
    display: grid;
    grid-template-rows: 6rem minmax(calc(100vh - 38rem),1fr) 32rem;
    grid-template-areas: "toolbar"
                          "main"
                          "footer";

}

.grid_footer{
    grid-area: footer;
    background: #4e002d;
}