.logo_container {
	display: flex;
	align-items: center;
	cursor: pointer;
}
.Logo-footer__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo_image {
	height: 100%;
}

.logo_text {
	margin: 0 auto 0 0.7rem;
	font-size: 2rem;
	font-weight: 800;
}
