.AngleArrow {
	display: inline-block;
	width: 0.7rem;
	height: 0.7rem;
	margin-bottom: 0.3rem;
	border-top: 2px solid #4e002d;
	border-left: 2px solid #4e002d;
	transform: rotate(-135deg);
}

@media only screen and (max-width: 931px) {
	.AngleArrow {
		border-color: #fff;
	}
}
