.drop-down{
    height: 3rem;
    cursor: pointer;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2); 
}

.drop-down__chosen{
    display: inline-block;
    margin: .5rem;
    padding-left: .5rem;
}

.drop-down__list{
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 10px;
    border: 1px solid #eee;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    background-color: #eee;
    position: relative;
    transition: all .3s ease;
}

/* .drop-down:hover .drop-down__list{
    opacity: 1;
    z-index: 5;
    visibility: visible;
} */

.drop-down__list-item{
    margin: 4px 0;
}

.drop-down__list-item:active .drop-down__list{
    opacity: 1;
    z-index: 5;
    visibility: visible;
}

.drop-down__list--show{
    opacity: 1;
    z-index: 5;
    visibility: visible;
}

.drop-down__list-item:hover{
    color: #ff0061;
}

.drop-down::after{
    content: "";
    display: inline-block;
    width: .6rem;
    height: 0.6rem;
    border: none;
    border-right: 1px solid;
    border-bottom: 1px solid;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: rotate(45deg) translate(-50%, -50%);
    
}